.playlist-wrapper {
  float: right;
  width: 20%;
  min-height: 100vh;
  overflow: scroll;
  background: transparent;

  h2 {
    text-align: center;
    color: white;
    background: #FF0000;
    border: 2px solid black;
    font-size: xx-large;
    font-weight: 900;
    padding: 2px;
    margin: 5px;
  }

  .video-container {
    
    .video_list {
      list-style-type: none;

      .video_card {
        background: ghostwhite;
        text-align: center;
        margin: 5px;
        border: outset 5px;
        
        a {
          text-decoration: none;

          .video {
            img {
              border: 2px slateblue;
              width: 100%;
            }
          }

          h3 {
            font-size: 1.2em;
            color: slateblue;
          }
        }
      }
    }
  }
}